body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
.card {

  background-color: blueviolet;
  width: 60%;
  margin: 10px auto;
  font-size: 26px;
  border-radius: 8px;
  text-align: center;
  box-shadow: aqua;

}
.deleteBTN {
  background-color: red;
  color: azure;
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 150px;
  margin: 10px auto;
}